* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar-brand, .nav-link, .deconstructed, .contents > p, .landing-body > h1, .landing-img > h1, .animation, .landing-buttons, .prof_title, #projects h1 {
  text-transform: uppercase;
}

/* Navbar Design */
.navbar {
  background: linear-gradient(rgba(20, 20, 20, 0.795),rgba(45, 45, 46, 0.473), rgba(20, 20, 20, 0.795));
  animation: slideIn 0.5s ease-in;
}

/* Animation: Navbar Start */
  @keyframes slideIn {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0);
    }
  }
/* Animation: Navbar End */

.navbar-brand, .nav-link {
  font-family: 'Kanit', sans-serif;
  border-right: 3px solid white;
  padding-right: 2.5rem !important;
  letter-spacing: 4px;
}

li:last-child > a {
  border-right: none !important;
}

.navbar-brand {
  font-weight: 700px;
}

.nav-link, .navbar-brand:hover {
  color: white;
}

.navbar-brand {
  color: red;
}

/* Navbar Brand Animation Start */
.navbar-brand {
  position: relative;
  transition: color 2s ease-out;
}

.navbar-brand::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: -10.5%;
  z-index: -1;
  box-shadow: 0 0 0px rgba(213, 219, 223, 0.8); 
  transition: box-shadow 0.3s ease-out;
}

.navbar-brand:hover::before {
  box-shadow: 0 0 30px rgba(213, 219, 223, 0.8); 
}
/* Navbar Brand Animation End */

.nav-link {
  position: relative;
  padding-left: 2.5rem !important;
  font-weight: 600px;
  text-decoration: none;
}

.nav-link.active {
  color: rgb(98, 243, 236) !important; 
}

.nav-link > img {
  padding-bottom: 0.3rem;
  width: 1.5rem;
}

@media screen and (max-width:991px) {
  .nav-link:hover img {
    transform: scale(0.8); 
    transition: transform 0.3s ease; 
  }
}

.nav-link > span {
  padding-left: 0.5rem;
}


/* Links Animation Start */
.nav-link {
  transition: color 0.3s ease-out;
}

.nav-link::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background: linear-gradient(to right, transparent, #ecf0f1, transparent);
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

.nav-link:hover {
  color: #069297;
}

.nav-link:hover::before {
  opacity: 2; 
}
/* Links Animation End */

/* Navbar Toggler Animation Start */
.navbar-toggler {
  border: 2px solid transparent; /* Initial border style */
  transition: border-color 0.3s ease-out; /* Transition for the border color */
  background-color: #738591; /* Change the background color of the toggler */
  border-color: white; /* Change the border color of the toggler */
}

.navbar-toggler:hover {
  border-color: #069297; /* Border color on hover */
}
/* Navbar Toggler Animation End */

/* Navbar Responsiveness Start */
@media screen and (max-width:991px) {
  .nav-link, .navbar-brand {
    border-right: 0px;
    padding-left: 0.5rem !important;
    padding-bottom: 0rem;
  }
  #info > nav > div {
    padding-left: 0rem;
  }
  .nav-link::before {
    left: -8%;
  }
}

@media screen and (max-width:398px) {
  .nav-link, .navbar-brand{
    padding-top: 0.25rem !important;
  }
}
/* Navbar Responsiveness End */
/* Navbar Design End */

/* START: Banner Design */
#banner {
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.575), rgba(39, 59, 65, 0.63), rgba(2, 2, 2, 0.562)),
	url("./images/banner/banner_bg.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  min-height: 100vh;
  height: 620px;
}

.contents {
  position: absolute;
  border: 2px solid white;
  top: 30%;
  height: 150px;
  width: 600px;
  background: linear-gradient(rgba(0, 0, 0, 0.363), rgba(0, 0, 0, 0.568));
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.8); 
  animation: flicker 1s linear infinite; 
}


@keyframes flicker {
  0%, 19.9%, 22%, 62.9%, 64%, 100% {
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5); 
  }
  20%, 21.9%, 63%, 63.9% {
    box-shadow: 0 0 25px rgba(255, 255, 255, 1); 
  }
}

/* START: Banner box responsiveness */
@media screen and (max-width:610px) {
  .contents {
    width: 575px;
    height: 150px;
  }
}
/* END: Banner box responsiveness */

.deconstructed {
  width: fit-content;
  position: relative;
  height: 1.5em;
  color: transparent;
  font-family: 'Russo One', sans-serif;
  font-size: 70px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1.75em;
}

.deconstructed > div {
  position: absolute;
  width: fit-content;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #f30000e7;
  pointer-events: none;
}

.deconstructed > div:nth-child(1) {
  -webkit-mask-image: linear-gradient(black 25%, transparent 25%);
  mask-image: linear-gradient(black 25%, transparent 25%);
  animation: deconstructed1 5s forwards;
}

.deconstructed > div:nth-child(2) {
  -webkit-mask-image: linear-gradient(transparent 25%, black 25%, black 50%, transparent 50%);
  mask-image: linear-gradient(transparent 25%, black 25%, black 50%, transparent 50%);
  animation: deconstructed2 5s forwards;
}

.deconstructed > div:nth-child(3) {
   -webkit-mask-image: linear-gradient(transparent 50%, black 50%, black 75%, transparent 75%);
  mask-image: linear-gradient(transparent 50%, black 50%, black 75%, transparent 75%);
  animation: deconstructed3 5s forwards;
}

.deconstructed > div:nth-child(4) {
   -webkit-mask-image: linear-gradient(transparent 75%, black 75%);
  mask-image: linear-gradient(transparent 75%, black 75%);
  animation: deconstructed4 5s forwards;
}

@keyframes deconstructed1 {
  0% {
    transform: translateX(30%);
  }
  26% {
    transform: translateX(0%);
  }
  83% {
    transform: translateX(-0.1%);
  }
  100% {
    transform: translateX(0%);
    
  }
}

@keyframes deconstructed2 {
  0% {
    transform: translateX(30%);
  }
  24% {
    transform: translateX(0.5%);
  }
  82% {
    transform: translateX(-0.2%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes deconstructed3 {
  0% {
    transform: translateX(30%);
  }
  22% {
    transform: translateX(0%);
  }
  81% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(0);

  }
}

@keyframes deconstructed4 {
  0% {
    transform: translateX(30%);
  }
  20% {
    transform: translateX(0%);
  }
  80% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(0);
  }
}

.contents > p {
  width: fit-content;
  position: relative;
  color: rgb(0, 247, 255);
  font-family: 'Kanit';
  font-size: 18px;
  letter-spacing: 1px;
  white-space: nowrap; 
  overflow: hidden;
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

/* Animation: Banner Title Start */

@keyframes typing {
  from { width: 0% }
  to { width: 45% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: transparent }
}
/* Animation: Banner Title End */

/* START: Banner box responsiveness */
@media screen and (max-width:585px) {
  .contents {
    width: 95%;
  }

  .contents > p {
    font-size: 3vw;
  }

  .deconstructed {
    font-size: 12vw !important;
  }
}

@media screen and (max-width:449px) {
  .deconstructed {
    font-size: 11.5vw !important;
  }
}

@media screen and (max-width:350px) {
  .deconstructed {
    font-size: 10vw !important;
  }
}
/* END: Banner box responsiveness */

.tagline-header {
  position: absolute;
  top: 50%;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 65%;
  height: 150px;
  padding-top: 1.5rem;
}

.tagline-header > span {
  color: hsl(0, 0%, 28%);
  font-size: 30px;
  font-family: 'Permanent Marker';
  letter-spacing: 4px;
  cursor: pointer;
}

/* START: Tagline Responsiveness */
@media screen and (max-width:1005px) {
  .tagline-header {
    width: 80%;
    padding-top: 2.5rem;
  }
}

@media screen and (max-width:425px) {
  .tagline-header {
    width: 100%;
  }
  
  .tagline-header > span {
    font-size: 22px;
  }
}

/* END: Tagline Responsiveness */

.tagline-header span {
  transition: 0.5s ease-out;
}

.tagline-header:hover span {
  color: #ffffff;
  text-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 40px #ffffff;
}

.banner-socials {
  position: absolute;
  top: 27%;
  left: 94%;
  width: fit-content;
}

.banner-socials > ul {
  list-style: none;
  width: fit-content;
}

.banner-socials a {
  text-decoration: none;
}

.banner-socials img {
  display: block;
  margin-bottom: 3rem;
  width: 37px;
  height: auto;
  filter: opacity(40%);
  animation: popOut 1s ease-out forwards; 
}

@media screen and (max-width: 991px) {
  .banner-socials {
    position: relative;
    top: 500px;
    left: 10px;
    padding-top: 1.5rem;
  }

  .banner-socials a {
    padding-right: 1rem;
  }

  .banner-socials img {
    display: inline-block;
    margin: 0;
    width: 35px;
  }
  .git-logo:hover, .fb-logo:hover, .ig-logo:hover, .linked-logo:hover {
    filter: brightness(0%) !important;
  }
}

@keyframes popOut {
  from {
      opacity: 0;
      transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.git-logo:hover, .fb-logo:hover, .ig-logo:hover, .linked-logo:hover {
  filter: sepia(10%);
  transform: scale(1.1) !important;
}

.scroll_down {
  position: absolute;
  width: 50px; 
  height: auto; 
  right: 2%;
  top: 90%;
  border: 2px solid #ffffff; 
  border-radius: 50%; 
  cursor: pointer;
  transition: transform 0.5s ease-in-out, background-color 0.5s ease-in-out;
}

@media screen and (max-width: 991px) {
  .scroll_down {
    width: 35px; 
    top: 93%;
    right: 2%;
  }
}

.scroll_down:hover {
  animation: pulse 1s infinite;
  background-color: #ffffff; 
}
  
  /* Animation - Scroll Button Start */
  @keyframes pulse {
    0%, 100% {
      transform: scale(1.1);
    }
    50% {
      transform: scale(1);
    }
  }
  
/* END: Banner Design */

/* START: Landing Design */
#landing {
  position: relative;
  background: linear-gradient(rgba(228, 227, 227, 0.863), rgba(255, 255, 255, 0.801)),
	url("./images/aboutme/bg-aboutme.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  max-height: none;
  overflow: hidden;
}

.landing-img {
  margin-top: 140px;
  padding-right: 50px;
  width: fit-content;
}

.me-img {
  width: 430px;
  height: 430px;
  padding: 2rem; 
  background: linear-gradient(rgba(0, 0, 0, 0.616), rgba(56, 55, 55, 0.158));
  border-radius: 12%;
}

@media screen and (min-width: 1440px) {
  .landing-img {
    margin-top: 170px;
  }

  .me-img {
    width: 500px;
    height: 500px;
  }
}

@media screen and (max-width: 1199px) {
  .landing-img {
    margin-top: 0;
    padding-top: 4rem;
    padding-right: 0;
    padding-left: 0;
  }
}

@media screen and (max-width: 575px) {
  .landing-img {
    text-align: center !important;
    margin-right: 0.5rem !important;
    margin-left: 0.5rem !important;
  }

  .me-img {
    width: 275px;
    height: 275px;
  }
}


.landing-contents {
  margin-top: 140px;
}

@media screen and (min-width: 1440px) {
  .landing-contents {
    margin-top: 170px;
  }
}

@media screen and (max-width: 1199px) {
  .landing-contents {
    width: 100%;
    margin-top: 30px;
    padding: 0;
  }
}

.landing-body > h1, .landing-img > h1 {
  position: relative;
  color: #FFFFFF;
  letter-spacing: 3px;
  color: white;
  font-family: 'Open Sans';
  font-size: 28px;
  background: rgba(41, 119, 119, 0.397);
  width: fit-content;
  padding: 0.5rem;
}

@media screen and (min-width: 1440px) {
  .landing-body > h1 {
    font-size: 32px;
  }
}

@media screen and (max-width: 1199px) {
  .landing-body > h1 {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 575px) {
  .landing-body > h1 {
    font-size: 20px;
    text-align: center !important;
  }
}

.animation {
  height: 50px;
  overflow:hidden;
  font-family: 'Merriweather Sans';
  font-weight: 900;
  font-size: 20px;
  letter-spacing: 2px;
}

@media screen and (min-width: 1440px) {
  .animation {
    font-size: 25px;
  }
}

@media screen and (max-width: 460px) {
  .animation {
    font-size: 18px;
  }
}

@media screen and (max-width: 416px) {
  .animation {
    width: 100%;
  }
}

.animation div > div {
  padding: 0.25rem 0.75rem;
  padding-top: 0.5rem;
  height: 2.81rem;
  margin-bottom: 1.5rem;
  display:inline-block;
}

@media screen and (max-width: 1199px) {
  .animation > div {
    width: fit-content;
  }
}

@media screen and (max-width: 425px) {
  .animation div {
    width: 100%;
    text-align: center;
    margin: 0;
  }
}

@media screen and (max-width: 416px) {
  .third > div {
    height: 4.5rem !important;
  }
  .third {
    margin-top: 2rem !important;  
  }
}

@media screen and (max-width: 347px) {
  .second > div {
    height: 4.5rem !important;
  }
  .second {
    margin-top: 2rem !important;  
  }
}

.animation div:first-child {
  animation: text-animation 8s infinite;
}

.first div {
  background-color:#fd0022ee;
}
.second div {
  background-color:#CD921E;
}
.third div {
  background-color:#05c105;
}

@keyframes text-animation {
  20% {margin-top: -3rem;}
  30% {margin-top: -7rem;}
  40% {margin-top: -10rem;}
  60% {margin-top: -7rem;}
  70% {margin-top: -3rem;}
  80% {margin-top: -3.25rem;}
}

@media screen and (max-width: 416px) {
  @keyframes text-animation {
    20% {margin-top: -3rem;}
    30% {margin-top: -7rem;}
    40% {margin-top: -8.2rem;}
    70% {margin-top: -3rem;}
    80% {margin-top: -3.25rem;}
  }
}

@media screen and (max-width: 347px) {
  @keyframes text-animation {
    20% {margin-top: -4rem;}
    30% {margin-top: -7rem;}
    40% {margin-top: -10rem;}
    70% {margin-top: -4rem;}
    80% {margin-top: -3.25rem;}
  }
}

.landing-contents > p {
  font-family: 'Salsa';
  font-size: 18px;
  text-align: justify;
  margin-top: 1rem;
  padding: 1rem;
  letter-spacing: 2px;
  background-color: rgba(128, 128, 128, 0.082);
  width: 600px;
}

@media screen and (min-width: 1440px) {
  .landing-contents > p {
    font-size: 22px;
    width: 700px;
    padding-left: 0;
  }
}

@media screen and (max-width: 1199px) {
  .landing-contents > p {
    width: 100%;
    font-size: 26px;
  }
}

@media screen and (max-width: 575px) {
  .landing-contents > p {
    font-size: 14px;
  }
}

.landing-download, .landing-hire {
  position: relative;
  font-size: 16px;
  padding: 0.5rem;
  margin-right: 1rem;
  font-family: 'Open Sans';
  font-weight: 400;
  z-index: 0;
}

@media screen and (max-width: 1199px) {
  .landing-download, .landing-hire {
    margin-right: 2rem;
    font-size: 22px;
  }
  .landing-buttons {
    justify-content: center !important;
    width: 100%;
    margin-bottom: 0.5rem;
  }
}

@media screen and (max-width: 575px) {
  .landing-download, .landing-hire {
    font-size: 12px;
  }
  .landing-download {
    margin-right: 3rem;
  }
  .landing-hire {
    margin-right: 0rem;
  }
}

@media screen and (max-width: 375px) {
  .landing-hire {
    margin-right: 0;
  }
}

@media screen and (max-width: 320px) {
  .landing-download {
    margin-right: 0.4rem;
  }
}

.landing-buttons > a {
  text-decoration: none;
  color: white;
}

.landing-buttons > a:before {
  content: '';
  background: linear-gradient(45deg, rgb(0, 255, 255), rgb(9, 255, 0));
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(1px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.landing-buttons > a:hover {
  color: rgb(235, 10, 10);
}

.landing-buttons > a:active {
  color: #ffffff
}

.landing-buttons > a:active:after {
  background: black;
}

.landing-buttons > a:hover:before {
  opacity: 1;
}

.landing-buttons > a:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
} 

  @keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}
/* END: Landing Design */

/* START: Projects / Exp Start */
#projects {
  position: relative;
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(192, 192, 192, 0.158)), 
	url("./images/projects/projects-bg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  min-height: 100vh;
  background-attachment: fixed;
}

#projects ul {
  list-style-type: none;
}

#projects span {
  font-family: 'Arimo', sans-serif;
  letter-spacing: 0.5px;
  font-size: 13px !important;
  font-weight: 500;
}

.prof_title, .educ_title, .my_works {
  width: fit-content;
  background: linear-gradient(rgba(0, 0, 0, 0.61),rgba(99, 88, 88, 0.315));
  padding: 0.75rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  text-align: center;
}

.prof_title, .work_exp, .zuitt_bc, .educ_title, .my_works {
  color: white;
  font-size: 28px;
}

.work_bg h1, .intern_exp h1, .zuitt_bc h1, .ue_bg h1 {
  font-size: 26px;
  font-family: 'Kanit', sans-serif;
  letter-spacing: 2px;
  font-weight: 800;
}

.work_exp h1, .intern_exp h1, .zuitt_bc h5, .ue_bg h5 {
  letter-spacing: 1px;
}

.ue_bg h5, .zuitt_bc h5 {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

.intern_exp, .ue_bg {
  color: black;
}

.work_exp img, .zuitt_bc img, .intern_exp img, .ue_bg img {
  width: 24px;
  padding-bottom: 0.2rem;
}

.work_bg, .intern_bg, .bc_exp, .educ_bg {
  width: 50%;
  height: auto;
}

.work_bg, .bc_exp {
  padding-top: 1.5rem;
}

.work_exp, .zuitt_bc {
  padding-top: 0.5rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  font-size: 13.5px;
  text-align: justify;
  background: rgba(0, 0, 0, 0.719);
}

.intern_bg, .educ_bg {
  float: right;
  padding-top: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 1rem;
  text-align: justify;
  background: rgba(255, 255, 255, 0.295);
  font-size: 13.5px;
}

@media screen and (max-width:425px) {
  #projects span  {
    letter-spacing: 0px;
  }

  .work_bg h1, .intern_exp h1, .zuitt_bc h1, .ue_bg h1  {
    font-size: 20px;
  }

  .zuitt_bc span, .ue_bg span .intern_exp span, .ue_bg span {
    padding-left: 0.1rem !important; 
    height: auto;
    width: auto;
  } 

  .prof_title, .educ_title, .my_works  {
    width: 100%;
  }

  .intern_bg, .work_exp, .zuitt_bc, .educ_bg{
    padding-right: 0.5rem;
  }

  .intern_bg > ul, .ue_bg {
    padding-left: 0 !important;
  }
}

/* Cards Design Start */
.works_tab > div > a {
  background: rgba(0, 0, 0, 0.651);
  border-top: 1px solid gray;
  width: 100%;
  padding-bottom: 1rem;
  text-decoration: none;
  color: white;
}

/* Responsiveness: Card Start */
@media screen and (max-width:991px) {
  .works_col1, .works_col2  {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
  }
}
/* Responsiveness: Card End */

/* Responsiveness: Card Start */
@media screen and (max-width:425px) {
  .works_col1, .works_col2  {
    padding-right: 0.2rem !important;
    padding-left: 0.2rem !important;
  }

  .works_col1 div, .works_col2 div {
    padding-left: 1rem !important;
  }
}
/* Responsiveness: Card End */

.list-item > div {
  padding-right: 1rem;
  padding-left: 2rem;
  padding-top: 2rem;
}

.list-item {
  position: relative;
  overflow: hidden;
}

.list-item h5 {
  font-family: 'Bebas Neue';
  letter-spacing: 2px;
  font-size: 20;
}

.list-item h4 {
  color: rgb(143, 141, 141);
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 2px;
}

@media screen and (max-width:425px) {
  .list-item h4 {
    font-size: 16.5px;
  }

  .list-item h5 {
    font-size: 16px;
  }
}

.list-item:hover h4 {
  color: white; 
  animation: loadingText1 1.5s linear infinite;
}

/* Animation Hover Start */
@keyframes loadingText1 {
  0%, 100% {
    color: white;
    text-shadow: 0 0 10px rgb(255, 0, 0);
  }
  50% {
    color: white;
    text-shadow: none;
  }
}
/* Animation Hover End */

.list-item:hover h5 {
  color: rgb(143, 141, 141); 
}

.list-item::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-top: 1px solid gray;
}

.list-item img {
  padding-top: 1rem;
  padding-left: 0.5rem;
  max-width: 100%;
  background: transparent;
}

.list-item:hover img {
  opacity: 0.7; /* Reduce opacity on hover */
}

.list-item:hover::before {
  border-top-color: white; 
  animation: loading 1.5s linear infinite;
}

/* Animation Hover Start */
@keyframes loading {
  0% {
    border-top-color: rgb(255, 255, 255);
  }
  50% {
    border-top-color: transparent;
  }
  100% {
    border-top-color: rgb(255, 255, 255);
  }
}
/* Animation Hover End */

/* Cards Design End */

/* Modal Design Start */
.close {
  background-color: transparent;
  border-color: rgba(255, 252, 252, 0.164);
  width: 25px;
}

.close span {
  color: white;
}

.modal.fade.show {
  background: rgba(0, 0, 0, 0.945);
  /* overflow: scroll; */
}

.modal-body > .work01, .work02, .sample01, .sample02, .sample03, .sample04 {
  border: 3px solid black;
}

.modal-body > .work01, .work02, .sample01, .sample02, .sample03, .sample04 {
  width: 100%;
}

.modal-body p {
  text-align: justify;
  font-family: 'Roboto';
  letter-spacing: 0.5px;
}

.link_pro {
  color: rgb(253, 253, 253);
  text-decoration: none;
  background: rgba(121, 69, 69, 0.274);
  padding: 0.5rem;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 2px;
}

.link_pro:hover {
  text-decoration: none;
  color: black;
  background: white;
}

.custom-modal .modal-content {
  background-color: #494949cc; 
  color: #ffffff; 
  overflow: hidden;
}

.modal-content h5 {
  font-family: 'Bebas Neue';
  letter-spacing: 4px;
  font-size: 1.5rem;
}

.modal-content h3 {
  font-family: 'Kanit';
  letter-spacing: 2px;
  font-size: 32px;
  text-decoration: underline;
}

@media screen and (max-width:454px) {
  .link_pro {
    letter-spacing: 0.5px;
  }

  .modal-title {
    font-size: 16px !important;
  }

  .modal-content h3 {
    font-size: 21px;
  }

  .modal-body p {
    font-size: 14px;
  }
}

@media screen and (max-width:320px) {
  .link_pro {
    text-align: center;
  }
}

/* Modal Design End */
/* Projects / Experience Design End */
/* END: Projects / Exp End */

